<p id="notice"><%= notice %></p>
<div class="news-index-wrapper">
  <div class="title">
    <h1>News</h1>
  </div>

      <% @news.each do |news| %>
          <%= news.created_at.in_time_zone("Pacific Time (US & Canada)").strftime('%Y/%m/%d') %>
          <%= link_to news.title, news %></br>
          <% if user_signed_in? %>
          <td><%= link_to 'Show', news %></td>
          <td><%= link_to 'Edit', edit_news_path(news) %></td>
          <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
</div>



<br>
<% if user_signed_in? %>
<%= link_to 'New News', new_news_path %>
<% end %>
